body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  width: 100%;
  background-color: #FF690F;
  color: white;
  min-height: 60px;
}

p {
  margin-bottom: 8px;
  padding-bottom: 0;
  font-weight: 500;
}

.departing-flight-text {
  color: rgb(2 132 199);
  text-align: center;
  margin-left: 10px;
}

.departing-flight-text > .text2 {
  color: black;
  font-size: 18px;
  margin-left: 12px;
}

.departing-flight-text:hover {
  .text2 {
    display: inline;
  }
}

.text3 {
  color: black;
  margin-left: 10px;
}